# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
vendor/
.pnp/
.pnp.js

# Build outputs
dist/
build/
out/
.next/
.nuxt/
.output/

# Linkedin state
linkedin-state.json
